<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyk.mapper.YyunitMapper">
  <resultMap id="BaseResultMap" type="com.tyk.pojo.Yyunit">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="YYName" jdbcType="VARCHAR" property="yyname" />
    <result column="YYaddr" jdbcType="VARCHAR" property="yyaddr" />
    <result column="YYDqId" jdbcType="INTEGER" property="yydqid" />
    <result column="YYJb" jdbcType="VARCHAR" property="yyjb" />
    <result column="YYCws" jdbcType="INTEGER" property="yycws" />
    <result column="YYLXR" jdbcType="VARCHAR" property="yylxr" />
    <result column="YYPhone" jdbcType="VARCHAR" property="yyphone" />
    <result column="YYCz" jdbcType="VARCHAR" property="yycz" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, YYName, YYaddr, YYDqId, YYJb, YYCws, YYLXR, YYPhone, YYCz
  </sql>
  <select id="selectByExample" parameterType="com.tyk.pojo.YyunitExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yyunit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yyunit
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yyunit
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tyk.pojo.YyunitExample">
    delete from yyunit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tyk.pojo.Yyunit">
    insert into yyunit (ID, YYName, YYaddr, 
      YYDqId, YYJb, YYCws, 
      YYLXR, YYPhone, YYCz
      )
    values (#{id,jdbcType=INTEGER}, #{yyname,jdbcType=VARCHAR}, #{yyaddr,jdbcType=VARCHAR}, 
      #{yydqid,jdbcType=INTEGER}, #{yyjb,jdbcType=VARCHAR}, #{yycws,jdbcType=INTEGER}, 
      #{yylxr,jdbcType=VARCHAR}, #{yyphone,jdbcType=VARCHAR}, #{yycz,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tyk.pojo.Yyunit">
    insert into yyunit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="yyname != null">
        YYName,
      </if>
      <if test="yyaddr != null">
        YYaddr,
      </if>
      <if test="yydqid != null">
        YYDqId,
      </if>
      <if test="yyjb != null">
        YYJb,
      </if>
      <if test="yycws != null">
        YYCws,
      </if>
      <if test="yylxr != null">
        YYLXR,
      </if>
      <if test="yyphone != null">
        YYPhone,
      </if>
      <if test="yycz != null">
        YYCz,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="yyname != null">
        #{yyname,jdbcType=VARCHAR},
      </if>
      <if test="yyaddr != null">
        #{yyaddr,jdbcType=VARCHAR},
      </if>
      <if test="yydqid != null">
        #{yydqid,jdbcType=INTEGER},
      </if>
      <if test="yyjb != null">
        #{yyjb,jdbcType=VARCHAR},
      </if>
      <if test="yycws != null">
        #{yycws,jdbcType=INTEGER},
      </if>
      <if test="yylxr != null">
        #{yylxr,jdbcType=VARCHAR},
      </if>
      <if test="yyphone != null">
        #{yyphone,jdbcType=VARCHAR},
      </if>
      <if test="yycz != null">
        #{yycz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tyk.pojo.YyunitExample" resultType="java.lang.Long">
    select count(*) from yyunit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update yyunit
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.yyname != null">
        YYName = #{record.yyname,jdbcType=VARCHAR},
      </if>
      <if test="record.yyaddr != null">
        YYaddr = #{record.yyaddr,jdbcType=VARCHAR},
      </if>
      <if test="record.yydqid != null">
        YYDqId = #{record.yydqid,jdbcType=INTEGER},
      </if>
      <if test="record.yyjb != null">
        YYJb = #{record.yyjb,jdbcType=VARCHAR},
      </if>
      <if test="record.yycws != null">
        YYCws = #{record.yycws,jdbcType=INTEGER},
      </if>
      <if test="record.yylxr != null">
        YYLXR = #{record.yylxr,jdbcType=VARCHAR},
      </if>
      <if test="record.yyphone != null">
        YYPhone = #{record.yyphone,jdbcType=VARCHAR},
      </if>
      <if test="record.yycz != null">
        YYCz = #{record.yycz,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update yyunit
    set ID = #{record.id,jdbcType=INTEGER},
      YYName = #{record.yyname,jdbcType=VARCHAR},
      YYaddr = #{record.yyaddr,jdbcType=VARCHAR},
      YYDqId = #{record.yydqid,jdbcType=INTEGER},
      YYJb = #{record.yyjb,jdbcType=VARCHAR},
      YYCws = #{record.yycws,jdbcType=INTEGER},
      YYLXR = #{record.yylxr,jdbcType=VARCHAR},
      YYPhone = #{record.yyphone,jdbcType=VARCHAR},
      YYCz = #{record.yycz,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tyk.pojo.Yyunit">
    update yyunit
    <set>
      <if test="yyname != null">
        YYName = #{yyname,jdbcType=VARCHAR},
      </if>
      <if test="yyaddr != null">
        YYaddr = #{yyaddr,jdbcType=VARCHAR},
      </if>
      <if test="yydqid != null">
        YYDqId = #{yydqid,jdbcType=INTEGER},
      </if>
      <if test="yyjb != null">
        YYJb = #{yyjb,jdbcType=VARCHAR},
      </if>
      <if test="yycws != null">
        YYCws = #{yycws,jdbcType=INTEGER},
      </if>
      <if test="yylxr != null">
        YYLXR = #{yylxr,jdbcType=VARCHAR},
      </if>
      <if test="yyphone != null">
        YYPhone = #{yyphone,jdbcType=VARCHAR},
      </if>
      <if test="yycz != null">
        YYCz = #{yycz,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tyk.pojo.Yyunit">
    update yyunit
    set YYName = #{yyname,jdbcType=VARCHAR},
      YYaddr = #{yyaddr,jdbcType=VARCHAR},
      YYDqId = #{yydqid,jdbcType=INTEGER},
      YYJb = #{yyjb,jdbcType=VARCHAR},
      YYCws = #{yycws,jdbcType=INTEGER},
      YYLXR = #{yylxr,jdbcType=VARCHAR},
      YYPhone = #{yyphone,jdbcType=VARCHAR},
      YYCz = #{yycz,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>